header {
    background-color: #e9d53f;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}
h2 {
    display: flex;
    justify-content: center;

}

#animals {
    object-fit: contain;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
}

footer {
    padding-top: 30%;
}